<!DOCTYPE html>
<html lang="en">
<%- include('layouts/header') -%>
<body>
    <%- include('layouts/navBar') -%>
    <%- include('partials/home-intro') -%>
    <main>
        <%- include('data/home-features') -%>
        <%- include('partials/home-articles') -%>
        <%- include('data/home-blogs') -%>
    </main>
    <%- include('layouts/footer') -%>
</body>
<!-- MDB -->
<%- include('layouts/scripts') -%>
</html>