<!doctype HTML>
<html lang="en">
<%- include('layouts/header') -%>
<body>
<%- include('layouts/navBar') -%>
<!--main body-->
<main class="container">
    <div class="row justify-content-center align-items-center text-center d-flex mx-auto flex-center"
         style="margin-top: 130px; margin-bottom: 60px;">
        <div class="col-lg-8">
            <h1 class="font-weight-bold mb-4">Register For An Account</h1>
            <% if(errors != null && errors.length > 0) {%>
                <ul class="list-group">
                    <% for(var i = 0; i < errors.length; i++){ %>
                        <li class="list-group-item list-group-item-danger">
                            <%= errors[i] %>
                        </li>
                    <% } %>
                </ul>
            <% } %>
            <form action="/store/user" method="post" enctype="multipart/form-data">
                <div class="row mb-2">
                    <!--Grid column-->
                    <div class="col-md-6">

                        <!-- Material outline input -->
                        <div class="md-form md-outline mb-0">
                            <input type="text" name="fName" id="form-first-name" class="form-control">
                            <label for="form-first-name">First name</label>
                        </div>

                    </div>
                    <!--Grid column-->
                    <!--Grid column-->
                    <div class="col-md-6">

                        <!-- Material outline input -->
                        <div class="md-form md-outline mb-0">
                            <input type="text" name="lName" id="form-first-name" class="form-control">
                            <label for="form-first-name">Last name</label>
                        </div>

                    </div>
                    <!--Grid column-->
                </div>
                <div class="row mb-4">
                    <!--Grid column-->
                    <div class="col-md-6">

                        <!-- Material outline input -->
                        <div class="md-form md-outline mb-0">
                            <input type="text" name="username" id="form-username" class="form-control">
                            <label for="form-username">Username</label>
                        </div>

                    </div>
                    <!--Grid column-->
                    <!--Grid column-->
                    <div class="col-md-6">

                        <!-- Material outline input -->
                        <div class="md-form md-outline mb-0">
                            <input type="password" name="password" id="form-password" class="form-control">
                            <label for="form-password">Password</label>
                        </div>

                    </div>
                    <!--Grid column-->
                </div>
                <div class="row mb-4">
                    <div class="col-md-12">
                        <textarea name="bio" placeholder="Describe yourself" class="form-control" rows="5"></textarea>
                    </div>
                </div>
                <button class="btn btn-primary" type="submit">register now</button>
            </form>
        </div>
    </div>
</main>
<!--main body-->
<%- include('layouts/footer') -%>
</body>
<!--scripts-->
<%- include('layouts/scripts') -%>
</html>