<div class="container mt-5 mb-5">
    <div class="row">
        <% if(blogs === "") { %>
            <div class="col-lg-4 col-md-5 zoom mb-5">
                <a href="/post">
                    <img src="https://placehold.co/300x200"
                         class="img-fluid"
                         alt="Blog Title"
                    />
                </a>
            </div>
            <div class="col-lg-8 col-md-7 mb-5">
                <a href="">
                    <span>designs & development</span>
                    <h3>Blog Title</h3>
                </a>
                <p class="grey-text">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cum ea nemo quasi quidem. Accusamus aperiam architecto, autem dolorem eius, eligendi expedita fuga id magni minus obcaecati odit placeat ratione sunt?
                </p>
            </div>
        <% } else { %>
            <% for(i=0; i < blogs.length; i++) { %>
              <div class="col-lg-4 col-md-5 zoom mb-5">
                 <a href="/post/<%= blogs[i]._id %>">
                    <img src="<%= blogs[i].image %>"
                        class="img-fluid"
                        alt="<%= blogs[i].title %>"
                    />
                 </a>
              </div>
              <div class="col-lg-8 col-md-7 mb-5">
                 <a href="/post/<%= blogs[i]._id %>">
                    <span><%= blogs[i].summary %></span>
                    <h3><%= blogs[i].title %></h3>
                  </a>
                  <p class="grey-text">
                      <%= blogs[i].body.substring(0, 210) %> . . .
                  </p>
               </div>
            <% } %>
        <% } %>
    </div>
</div>