<div class="row justify-content-center align-items-center text-center my-5 py-3">
    <% if(project == "") { %>
    <div class="col-lg-10 col-md-12 col-sm-12 mb-3">
        <h1>There Are No Projects Posted Yet.</h1>
    </div>
    <% } else { %>
        <div class="col-md-6">
            <h1 class="font-weight-bold mb-3"><%= project.title %></h1>
        </div>
        <div class="col-md-6">
            <p>
                <%= project.summary %>
            </p>
            <p>
                <strong>Posted By:</strong> <a href="/profile/<%= project.userid._id %>"><%= project.userid.username %></a> on <%= project.datePosted.toLocaleString() %>
            </p>
        </div>
       <div class="col-md-6 col-sm-12 mb-3">
        <p class="lead font-weight-bold">
            This Project Insludes:
        </p>
        <ul class="list-group list-group-flush">
            <% project.feature.forEach(function(feature){ %>
                <li class="list-group-item"><%= feature %></li>
            <% }) %>
        </ul>
       </div>
       <div class="col-md-6 col-sm-12 mb-3">
            <figure class="figure">
                <img src="<%= project.image %>" class="figure-img img-fluid z-depth-1"
                    alt="<%= project.title %>">
                <figcaption class="figure-caption"><%= project.title %></figcaption>
            </figure>
       </div>
    <% } %>
</div>